@font-face {
    font-family: Lato-Bold;
    src: url(assets_1/fonts/Lato-Bold.ttf);
}
@font-face {
    font-family: Lato-Black;
    src: url(assets_1/fonts/Lato-Black.ttf);
}
@font-face {
    font-family: Lato-Light;
    src: url(assets_1/fonts/Lato-Light.ttf);
}
@font-face {
    font-family: Lato-Regular;
    src: url(assets_1/fonts/Lato-Regular.ttf);
}
